    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      a {
        text-decoration:none;
        }
      body,
      html {
        height: 100%;
        margin: 0;
        font-family: "Open Sans", sans-serif;
            }
      .para-text-color{
        color: rgb(146, 144, 143)
                      }
      .container {
        max-width: 1024px;
        background-color: #e4f9f5;
        margin: 0 auto;
                  }
      /* Hero section start */
      .hero-container {position: relative;
        margin:auto;
                      }
      .hero-image {
        background-image: linear-gradient(
            to bottom,
            rgba(8, 8, 8, 0.7),
            rgba(61, 7, 238, 0.4)
          ),url("images/donation1.jpg");
        background-repeat: no-repeat;
        background-size: 1024px 700px;
        background-position: center;
      }
      .hero-text {
        text-align: center;
        color: white;
        padding:0px 0px 100px 0px;
        margin:auto;
        max-width: 900px;
      }
      .hero-text h1{
        padding-top: 90px;
      }
      .para{
        padding-top: 5px;
        margin-bottom: 50px;
        padding-bottom: 0;
      }
      .btn{
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        color:white;
        width: 30px;
        height: 15px;
        margin: 0 auto;
        background-color: orangered;
      }
      .btn a{
        color:white;
        font-weight: bold;
        letter-spacing: 1.5px;
        border: none;
        margin: 4px 2px;
        padding: 15px 32px;
        display: inline-block;
        cursor: pointer;
        font-size: 18px;
      }
      /* Hero section End */

      /* donate-section-start */
      .donate-section{
        
        text-align: center;
        max-width: 900px;
        margin: auto;
        padding-top: 50px;
        
      }
    .donate-text{
           
    }
    .donate-text h1{

    }
    .donate-text p{
        padding: 20px;
    }
    .tk-cont{
        display: flex;
        justify-content: space-between;
        padding: 20px;
                
    }
    #tk-selected{
        background-color: rgb(250, 175, 147);
        border: 1px solid rgb(209, 31, 31);
        box-shadow: rgb(67, 70, 72) 2px 4px 10px;
        font-weight:bold;

    }
    .tk-cont div{
        
        width: 150px;
        height: 100px;
        background-color: rgb(221, 221, 221);
        color: black;
        border-radius: 8px;
        display: inline;
        margin:px;
        color: white; 
        font-size: 20px;
        padding-top: 36px;  
}  
.hr-line{
    
}
/* Donate section End */

/* Donate Plan Section Start */
.dnt-plan-section{
    max-width: 900px;
    text-align: center;
    margin: auto;

}
span{color: rgb(60, 60, 60);
    
}
.dnt-plan-section h1{
    padding-top: 40px;
}
.dnt-plan-sec-card{
    display: flex;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    justify-content: space-between;

}
.dnt-plan-sec-card-1{
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;

}
.dnt-plan-sec-card-2{
    background-color:rgb(189, 82, 5) ;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}
.dnt-plan-sec-card-3{
    background-color: rgb(41, 108, 231);
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}
h3{
    padding: 10px;
}
.input{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    padding: 5px;
}
.hr-line{
padding-bottom: 20px;
border-left: none;

}
.icon-img{
    height: 25px;
    width: 25px;
}
/* Donate Plan Section End */
/* image sec start */

.image-sec{
  
          }

.image-sec img{
  height: 130px;
  width: 120px;
  margin-left: 4px;
              }
.image-sec p{
  color: red;
  font-size: 20px;
  letter-spacing: 3px;
            }
/* image sec End */

/* Get Updates Section Start */
.Updates-text{
  text-align: center;
  padding-bottom: 50px;
              }
.Updates-text h1{
  padding: 10px;
                }
.Updates-text p{
  max-width: 900px;
  padding: 10px;
  margin: 0 auto;
                }
.input-section{
  margin: auto auto;
  max-width: 900px;
  height: 150px;
  background-color: antiquewhite;
  position: relative;
              }

.input-div{
  border-radius: 6px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
          }

.input-2{
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  padding: 10px;
  margin: 0 auto;
  text-align: left;
  color: white;
  background-color: rgb(19, 1, 1);
  display: inline;
        }
 
/* Get Updates Section End */


   /* footer Sec Start */

.footer{
background-color:black;
color: aliceblue;
text-align: center;
height: 150px;
}
.footer h1{
  color: orangered;
  padding-top: 40px;
}
.footer p{
  padding-top: 20px;
}


   /* footer Sec End */